{% extends 'pages/base.jinja' %}


{% block title %}

    Flask and Turso DB Demo - Not Found

{% endblock %}


{% block content %}

    <section>
        <h2>Sorry, we can't find what you are looking for!</h2>

        <a role="button" href="/">Go Home</a>
    </section>

{% endblock %}
