{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo

{% endblock %}


{% block content %}

    <h1>Flask and Turso Demo</h1>

    <section id="things">

        {% for thing in things %}

            <p><a href="/thing/{{ thing.id }}">
            {{ thing.name }}
            </a></p>

        {% endfor %}

    </section>


{% endblock %}
