{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - New Thing

{% endblock %}


{% block content %}

    <h1>New Thing</h1>

    <article>

        <form action="/add-thing" method="POST">
        
        <label>
            Name
            <input name="name" type="text" required>
        </label>

        <label>
            Price ($)
            <input name="price" type="number" min="0" value="0" required>
        </label>
        
        <button>Add the Thing</button>

        </form>

    </article>

{% endblock %}
