{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - Single Thing

{% endblock %}


{% block content %}

    <h1>Thing Details</h1>

    <article>

        <P>THING INFO HERE!!!</P>

    </article>

{% endblock %}
