{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - New Thing

{% endblock %}


{% block content %}

    <h1>New Thing</h1>

    <article>

        <P>THING FORM HERE!!!</P>

    </article>

{% endblock %}
